@model LearnDash.Dal.Models.LearningFlow

@using (Html.BeginForm())
{
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model=>model.Name)
            
@*            @Html.LabelFor(model => model.FlowType)
            @Html.DropDownListFor(model => model.FlowType, this.ViewBag.FlowTypes as SelectList)
            @Html.ValidationMessageFor(model => model.FlowType)*@
        </div>
        <div>
            <button class="btn btn-success" type="submit"><i class="icon-plus icon-white"></i> Add</button>
        </div>
    </fieldset>
}