@model LearnDash.Dal.Models.LearningFlow
@using LearnDash.Controllers
<link href="../../Content/roundabout.css" rel="stylesheet" type="text/css" />
<br />
<br />
<br />
<!-- refactor delete unused span -->
<div class="flow-name">
    <span>@Model.Name</span></div>
<br />
<br />
<br />
<ul class="flow-list">
    @foreach (var task in Model.Tasks)
    {
        var flowClass = "flow-task";

        if (task.IsNext)
        {
            flowClass += " flow-next";
        }
    
        <li class="@flowClass" data-id="@task.ID" data-counter ="@task.TimesDone"><span>@task.Name</span>
            <button class="btnRemoveTask">
                Delete Task</button>
            <button class="btnMakeNext">
                MakeNext</button>
        </li>
    }
</ul>
<div class="flow-menu">
    <input id="txtBoxTaskName" type="text" />
    <button id="btnAddTask">
        Add Task</button>
@*    <button id="btnSaveFlow">
        SaveFlow</button>*@
    <button id="btnClear">
        ClearFlow</button>
</div>
<div id="taskNameValidation" style="display: none;">
    Task name is required!
</div>
<script type="text/javascript">
    $(function () {

        var btnAddTask = $("#btnAddTask");
        var txtBoxtTaskName = $("#txtBoxTaskName");

        txtBoxtTaskName.focus().keypress(function(e) {
                if(e.which == 13) {
                    btnAddTask.click();
                }
            });

        btnAddTask.click(function () {
            var taskName = txtBoxtTaskName.val();
            txtBoxtTaskName.val("");
            $("#taskNameValidation").hide();
            if(!isBlank(taskName)) {
                var currentElementsCount = $('.flow-task').size();
                var taskClass = "flow-task";
                if (currentElementsCount <= 0) {
                    taskClass = taskClass + " flow-next";
                }
                var newElement = $("<li class='" + taskClass + "'><span>" + taskName + "</span><button class='btnRemoveTask'>Delete Task</button><button class='btnMakeNext'>MakeNext</button></li>");
                $(".flow-list").append(newElement);

                $(".btnRemoveTask").click(function() {
                    $(this).parent().remove();
                });
                
                SaveFlow('@Model.ID',"@Url.Action("Save", "LearningFlow")");
            }
            else {
                $("#taskNameValidation").show();     
            }
        });

        InitButtons();
    });
    
    function InitButtons() {
//        $("#btnSaveFlow").click(function () {
//            SaveFlow('@Model.ID',"@Url.Action("Save", "LearningFlow")");
//        });

        $(".btnMakeNext").click(function () {
            $('.flow-task').removeClass("flow-next");
            $(this).parent().addClass("flow-next");
        });

        $(".btnRemoveTask").click(function () {
            $(this).parent().remove();
        });

        $("#btnClear").click(function () {
            $('.flow-task').remove();
        });
    }
    
    function isBlank(str) {
        return (!str || /^\s*$/.test(str));
    }
</script>
