@model LearnDash.Dal.Models.LearningFlow
@using LearnDash.Controllers
<link href="../../Content/roundabout.css" rel="stylesheet" type="text/css" />
<div class="flow-name">
    <span>@Model.Name</span></div>
<ul id="flow-list">
    @foreach (var task in Model.Tasks)
    {
        var flowClass = "flow-task";

        if (task.IsNext)
        {
            flowClass += " flow-next";
        }
    
        <li class="@flowClass" data-id="@task.ID" data-counter ="@task.TimesDone"><span>@task.Name</span>
            <button name="btnMakeNext" class="btn btn-success">
                <i class="icon-ok icon-white"></i>
            </button>
            <button name="btnRemoveTask" class="btn btn-warning">
                <i class="icon-trash icon-white"></i>
            </button>
        </li>
    }
</ul>
<div class="control-group">
    <div class="controls">
        <input id="txtBoxTaskName" type="text" />
        <span id="taskNameValidation" class="help-inline" style="display:none;">Task name required</span>
    </div>
    <button id="btnAddTask" class="btn btn-primary">
        <i class="icon-plus icon-white"></i>Add Task</button>
    <button id="btnClear" class="btn btn-danger">
        <i class="icon-repeat icon-white"></i>Clear Flow</button>
</div>
<script type="text/javascript">
    $(function () {
        $("#txtBoxTaskName").focus().keypress(function(e) {
                if(e.which == 13) {
                    $("#btnAddTask").click();
                }
            });

        InitMenuButtons();
        InitTaskButtons();
    });
    

    function InitTaskButtons() {
        $("[name='btnMakeNext']").click(function () {
            var lastTask = $('.flow-task');
            var newTask = $(this).parent();
            
            CompleteTask('@Model.ID',newTask.attr('data-id'), "@Url.Action("MakeNext", "LearningFlow")",
                function () {
                    lastTask.removeClass("flow-next");
                    newTask.addClass("flow-next");
                });
        });

        $("[name='btnRemoveTask']").click(function () {
            var removedTask = $(this).parent();
            
            if(removedTask.hasClass("flow-next")) {
                removedTask.next().addClass("flow-next");
            }
            
            var id = removedTask.attr('data-id');
            
            $.ajax({
                type: "POST",
                url: "@Url.Action("RemoveTask", "LearningFlow")",
                data: JSON.stringify({taskId : id,flowId : '@Model.ID'}),
                dataType : "json",
                contentType : 'application/json',
                success: function (data) {
                    if(data.isSuccess) {
                        removedTask.remove();
                        // todo: show success notification
                    }
                    else {
                        // todo: show error notification
                    }
                }
            });
        });
    }

    function InitMenuButtons() {
        $("#btnClear").click(function () {
            $('.flow-task').remove();
            SaveFlow('@Model.ID',"@Url.Action("Save", "LearningFlow")");
        });
        var btnAddTask = $("#btnAddTask");
        
             btnAddTask.click(function () {
            var txtVoxTaskName = $("#txtBoxTaskName");
            var taskName = txtVoxTaskName.val();
            txtVoxTaskName.val("");
            
            $("#taskNameValidation").hide();
            $(".control-group").removeClass("error");
            
            if(isBlank(taskName)) {
                $(".control-group").addClass("error");
                $("#taskNameValidation").show();
                return;
            }
            
            var currentElementsCount = $('.flow-task').size();
            var taskClass = "flow-task";


            var isNext = false;
            // if there are none tasks this task will be set as next
            if (currentElementsCount <= 0) {
                taskClass = taskClass + " flow-next";
                isNext = true;
            }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddTask", "LearningFlow")",
                    data: JSON.stringify({task : {Name : taskName,IsNext : isNext},flowId : '@Model.ID'}),
                    dataType : "json",
                    contentType : 'application/json',
                    success: function (data) {
                        if(data.isSuccess) {
                            var newElement = $("<li class='" + taskClass + "' data-id='"+data.message+"' ><span>" + escape(taskName) + "</span><button name='btnMakeNext' class='btn btn-success'><i class='icon-ok icon-white'></i></button><button name='btnRemoveTask' class='btn btn-warning'><i class='icon-trash icon-white'></i></button></li>");
                            $("#flow-list").append(newElement);

                            InitTaskButtons();
                            // todo: show success notification
                        }
                        else {
                            // todo: show error notification
                        }
                    }
                });
        });

    }
    
    function isBlank(str) {
        return (!str || /^\s*$/.test(str));
    }
</script>
