@model LearnDash.Dal.Models.LearningFlow
@using LearnDash.Controllers
<link href="../../Content/roundabout.css" rel="stylesheet" type="text/css" />
<div class="flow-name">
    <span>@Model.Name</span></div>
<ul id="flow-list">
    @foreach (var task in Model.Tasks)
    {
        var flowClass = "flow-task";

        if (task.IsNext)
        {
            flowClass += " flow-next";
        }
    
        <li class="@flowClass" data-id="@task.ID">
            <span style="float:left;">@task.Name</span>
            <button style="float:right;" name="btnRemoveTask" class="btn btn-warning">
                <i class="icon-trash icon-white"></i>
            </button>
            <button style="float:right;" name="btnMakeNext" class="btn btn-success">
                <i class="icon-ok icon-white"></i>
            </button>
            <div style="clear:both;"></div>
        </li>
    }
</ul>
<div class="control-group">
    <div class="controls">
        <input id="txtBoxTaskName" type="text" />
        <span id="taskNameValidation" class="help-inline" style="display:none;">Task name required</span>
    </div>
    <button id="btnAddTask" class="btn btn-primary">
        <i class="icon-plus icon-white"></i>Add Task</button>
    <button id="btnClear" class="btn btn-danger">
        <i class="icon-repeat icon-white"></i>Clear Flow</button>
</div>
<script type="text/javascript">
    $(function () {
        $("#txtBoxTaskName").focus().keypress(function(e) {
                if(e.which == 13) {
                    $("#txtBoxTaskName").blur();
                    $("#btnAddTask").click();
                }
            });

        InitMenuButtons();
        InitTaskButtons();
    });
    

    function InitTaskButtons() {
        $("[name='btnMakeNext']").click(function () {
            showLoadingOverlay();
            var lastTask = $('.flow-task');
            var newTask = $(this).parent();

            MakeNext('@Model.ID',newTask.attr('data-id'), "@Url.Action("MakeNext", "LearningFlow")",
                function (data) {
                    if(data.isSuccess) {
                        lastTask.removeClass("flow-next");
                        newTask.addClass("flow-next");

                        lastTask.children("[name='btnMakeNext']").show();
                        newTask.children("[name='btnMakeNext']").hide();
                        generateNoty('success', 'Task set as next');
                    }
                    else {
                        generateNoty('error', 'Encountered error!');
                    }
                    hideLoadingOverlay();
                });
        });

        $("[name='btnRemoveTask']").click(function () {
            showLoadingOverlay();
            var removedTask = $(this).parent();
            
            if(removedTask.hasClass("flow-next")) {

                var nextTask = removedTask.next();
                if(nextTask.length>0) {
                    nextTask.addClass("flow-next");
                    nextTask.children("[name='btnMakeNext']").hide();
                }
                else {
                    var previousTask = removedTask.prev();
                    previousTask.addClass("flow-next");
                    previousTask.children("[name='btnMakeNext']").hide();
                    
                }
            }
            
            var id = removedTask.attr('data-id');
            
            $.ajax({
                type: "POST",
                url: "@Url.Action("RemoveTask", "LearningFlow")",
                data: JSON.stringify({taskId : id,flowId : '@Model.ID'}),
                dataType : "json",
                contentType : 'application/json',
                success: function (data) {
                    if(data.isSuccess) {
                        removedTask.remove();
                        generateNoty('success', 'Task removed sucessfully!');
                    }
                    else {
                        generateNoty('error', 'Encountered error!');
                    }
                    hideLoadingOverlay();
                }
            });         
        });


        $(".flow-next").children("[name='btnMakeNext']").hide();
    }

    function InitMenuButtons() {
        $("#btnClear").click(function () {
            showLoadingOverlay();
            ClearFlow('@Model.ID',"@Url.Action("Clear", "LearningFlow")",
            function (data) {
                    if(data.isSuccess) {
                        $('.flow-task').remove();
                        generateNoty('success', 'Flow Cleared!');
                    }
                    else {
                        generateNoty('error', 'Encountered error!');
                    }
                    hideLoadingOverlay();
                }
            );
        });
        var btnAddTask = $("#btnAddTask");
            btnAddTask.click(function () {
            showLoadingOverlay();
            var txtVoxTaskName = $("#txtBoxTaskName");
            var taskName = txtVoxTaskName.val();
            txtVoxTaskName.val("");
            
            $("#taskNameValidation").hide();
            $(".control-group").removeClass("error");
            
            if(isBlank(taskName)) {
                $(".control-group").addClass("error");
                $("#taskNameValidation").show();
                hideLoadingOverlay(function() { $("#txtBoxTaskName").focus()});
                return;
            }
            
            var currentElementsCount = $('.flow-task').size();
            var taskClass = "flow-task";


            var isNext = false;
            // if there are none tasks this task will be set as next
            if (currentElementsCount <= 0) {
                taskClass = taskClass + " flow-next";
                isNext = true;
            }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddTask", "LearningFlow")",
                    data: JSON.stringify({task : {Name : taskName,IsNext : isNext},flowId : '@Model.ID'}),
                    dataType : "json",
                    contentType : 'application/json',
                    success: function (data) {
                        if(data.isSuccess) {
                            var newElement = $("<li class='" + taskClass + "' data-id='"+data.message+"' ><span style='float:left'>" + escape(taskName).replace(/%20/g," ") + "</span><button style='float:right' name='btnMakeNext' class='btn btn-success'><i class='icon-ok icon-white'></i></button><button style='float:right' name='btnRemoveTask' class='btn btn-warning'><i class='icon-trash icon-white'></i></button><div style='clear:both;'></div></li>");
                            $("#flow-list").append(newElement);

                            InitTaskButtons();
                            generateNoty('success', 'Task sucessfully added!');
                        }
                        else {
                            generateNoty('error', 'Encountered error! - ' + data.message);
                        }
                        hideLoadingOverlay(function() { $("#txtBoxTaskName").focus();});
                    }
                });
        });

    }
    
    function isBlank(str) {
        return (!str || /^\s*$/.test(str));
    }
</script>
