@model LearnDash.Dal.Models.LearningFlow
@using LearnDash.Controllers
<link href="../../Content/roundabout.css" rel="stylesheet" type="text/css" />
<br />
<br />
<br />
<!-- refactor delete unused span -->
<div class="flow-name">
    <span>@Model.Name</span></div>
<br />
<br />
<br />
<ul id="flow-list">
    @foreach (var task in Model.Tasks)
    {
        var flowClass = "flow-task";

        if (task.IsNext)
        {
            flowClass += " flow-next";
        }
    
        <li class="@flowClass" data-id="@task.ID" data-counter ="@task.TimesDone"><span>@task.Name</span>
            <button id="btnMakeNext" class="btn btn-success">
                <i class="icon-ok icon-white"></i>
            </button>
            <button id="btnRemoveTask" class="btn btn-warning">
                <i class="icon-trash icon-white"></i>
            </button>
        </li>
    }
</ul>
<div>
    <input id="txtBoxTaskName" type="text" />
    <button id="btnAddTask" class="btn btn-primary">
        <i class="icon-plus icon-white"></i>Add Task</button>
    <button id="btnClear" class="btn btn-danger">
        <i class="icon-repeat icon-white"></i>Clear Flow</button>
</div>
<div id="taskNameValidation" class="error" style="display: none;">
    Task name is required!
</div>
<script type="text/javascript">
    $(function () {

        var btnAddTask = $("#btnAddTask");
        var txtBoxtTaskName = $("#txtBoxTaskName");

        txtBoxtTaskName.focus().keypress(function(e) {
                if(e.which == 13) {
                    btnAddTask.click();
                }
            });

        btnAddTask.click(function () {
            var taskName = txtBoxtTaskName.val();
            txtBoxtTaskName.val("");
            $("#taskNameValidation").hide();
            if(!isBlank(taskName)) {
                var currentElementsCount = $('.flow-task').size();
                var taskClass = "flow-task";
                if (currentElementsCount <= 0) {
                    taskClass = taskClass + " flow-next";
               
                var newElement = $("<li class='" + taskClass + "'><span>" + taskName + "</span><button id='btnRemoveTask' class='btn btn-warning'><i class='icon-trash icon-white'></i></button><button id='btnMakeNext' class='btn btn-success'><i class='icon-ok icon-white'></i></button></li>");
                $("#flow-list").append(newElement);

                $("#btnMakeNext").click(function () {
                    var lastTask = $('.flow-task');
                    var newTask = $(this).parent();
                    lastTask.removeClass("flow-next");
                    newTask.addClass("flow-next");
            

                    CompleteTask(lastTask.attr('data-id'), newTask.attr('data-id'), "@Url.Action("MakeNext", "LearningFlow")");
                });

                $("#btnRemoveTask").click(function () {
                    var removedTask = $(this).parent();
            
                    if(removedTask.hasClass("flow-next")) {
                        removedTask.next().addClass("flow-next");
                    }
                
            removedTask.remove();
            SaveFlow('@Model.ID',"@Url.Action("Save", "LearningFlow")");
        });
                
                SaveFlow('@Model.ID',"@Url.Action("Save", "LearningFlow")");
            }
            else {
                $("#taskNameValidation").show();     
            }
        });

        InitButtons();
    });
    
    function InitButtons() {
        $("#btnMakeNext").click(function () {
            var lastTask = $('.flow-task');
            var newTask = $(this).parent();
            lastTask.removeClass("flow-next");
            newTask.addClass("flow-next");
            

            CompleteTask(lastTask.attr('data-id'), newTask.attr('data-id'), "@Url.Action("MakeNext", "LearningFlow")");
        });

        $("#btnRemoveTask").click(function () {
            var removedTask = $(this).parent();
            
            if(removedTask.hasClass("flow-next")) {
                removedTask.next().addClass("flow-next");
            }
                
            removedTask.remove();
            SaveFlow('@Model.ID',"@Url.Action("Save", "LearningFlow")");
        });

        $("#btnClear").click(function () {
            $('.flow-task').remove();
            SaveFlow('@Model.ID',"@Url.Action("Save", "LearningFlow")");
        });
    }
    
    function isBlank(str) {
        return (!str || /^\s*$/.test(str));
    }
</script>
