@using LearnDash.Dal.Models
@model List<LearnDash.Dal.Models.LearningFlow>
<ul class="nav nav-pills nav-stacked">
    @foreach (var flow in Model)
    {
        <li class="dropdown"><a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#">
            @flow.Name<b class="caret"></b></a>
            <ul class="dropdown-menu">

               @if (flow.FlowType == FlowType.Static)
                {
                    <li><a href="@Url.Action("View", "LearningFlow", new {id = @flow.ID}, null)">View</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("ViewTest", "LearningFlow", new {id = @flow.ID}, null)">View</a></li>
                }

                <li><a href="@Url.Action("Edit", "LearningFlow", new { id = @flow.ID }, null)">Edit</a></li>
                <li><a href="@Url.Action("Remove", "LearningFlow", new { id = @flow.ID }, null)">Remove</a></li>
            </ul>
        </li>
    }
</ul>
<a href='@Url.Action("Add", "LearningFlow")' class = "btn btn-primary"><i class="icon-plus icon-white">
</i>Add Learning Flow</a> 