@using LearnDash.Dal.Models
@model List<LearningFlow>
<ul class="nav nav-pills nav-stacked">
    @foreach (var flow in Model)
    {
        <li class="dropdown">
            <a style="display:inline;margin-bottom: 5px" href="@Url.Action("View", "LearningFlow", new {id = @flow.ID}, null)">@flow.Name</a>
            <a style="display:inline" class="dropdown-toggle"data-toggle="dropdown"href="#"><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Edit", "LearningFlow", new { id = @flow.ID }, null)">Edit Flow</a></li>
                <li><a href="@Url.Action("EditItems", "LearningFlow", new { id = @flow.ID }, null)">Edit Items</a></li>
                <li><a href="@Url.Action("Remove", "LearningFlow", new { id = @flow.ID }, null)">Remove</a></li>
            </ul>
        </li>
        <br />
    }
</ul>
<a href='@Url.Action("Add", "LearningFlow")' class = "btn btn-primary"><i class="icon-plus icon-white">
</i>Add Learning Flow</a> 