@model List<LearnDash.Dal.Models.LearningFlow>

<ul>
@foreach (var flow in Model)
{
    <li>
     @Html.ActionLink(@flow.Name,"View","LearningFlow",new {id=@flow.ID},null)
     @Html.ActionLink("Edit", "Edit", "LearningFlow", new { id = @flow.ID }, null)
     @Html.ActionLink("Remove", "Remove", "LearningFlow", new { id = @flow.ID }, null)
    </li>
}
</ul>
@Html.ActionLink("Add","Add", "LearningFlow")